{% extends "layout.html" %}


{% block main %}
    <span>
       <section>
        <h2>
            FORMAÇÕES
        </h2>
        <ul>
            <li>Técnico de informática</li>
        </ul>
        <dl>
            <dt><h3>Experiências FLL</h3></dt>
            <dd>
                Participei de um time de robótica que participa de um campeonato chamado FLL(FIRST LEGO LEAGUE) onde os integrantes do time precisam construir um robô feito de Lego que irá resolver desafios no tapete de desafios.
            </dd>
            <dt><h3>Experiências Técnico</h3></dt>
            <dd>
                Cursei um técnico em informática na ETEP e fiz alguns projetos academicos dentro da instituição.
            </dd>
            <dt><h3>Experiências FATEC</h3></dt>
            <dd>
                Estou atualmente cursando o curso DSM na FATEC que é necessário realizar as APIs, que são projetos que resolvem algum problema apresentado por uma empresa de fora.
            </dd>
            <dt><h3>Experiências de Trabalho</h3></dt>
            <dd>
                Já trabalhei em duas empresas, a ACTI, uma empresa que presta serviços de ERP por software e atualmente estou trabalhando na empresa que presta serviços de Engenharia de Software chamada SOFTWILLIANS.
            </dd>
        </dl>
    </section>        
    </span>
{% endblock main %}

