{% extends "layout.html" %}

{% block main %}

<div class="margemTexto">
    <section>
        
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    
                        <h1>
                            <img class="minhaFoto" id="minhaFoto" src="../static/img/MinhaFoto25.jpg" alt="Foto do Miguel">
                        </h1>    
                    
                    <h2>SOBRE MIM</h2>
                    <br>
                   
                    <p> Meu nome é Miguel Carvalho Soares, nasci em São José dos Campos no dia 28/09/2001, atualmente estou cursando o curso de DSM na faculdade FATEC de SJC e estou trabalhando na empresa SOFTWILLIANS.</p>
                   
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>    
{% endblock main %}