{% extends "layout.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <section>Projetos da Fatec</section>
            <section>
            <dl>
                <dt>PY.NK</dt>
                <dd>Um internet bank simplificado capaz de realizar saques e depositos com gerenciamento de gerentes de agências e gerente geral</dd>
                <dd> <a href="https://github.com/pynkAPI/API-1-DSM_22">https://github.com/pynkAPI/API-1-DSM_22</a></dd>
            </dl>
            </section>
        </div>
    </div>
</div>
        
{% endblock main %}