
.margem{
    margin-left: 33%;
    margin-right: 31%;
    margin-top: 50px;
   
}

.margemNav{
    float: right;
    
}

.margemTextoQuemSomos{
    margin-top: 40px;
    margin-bottom: 40px;
}

.rodape{
    text-align: center;
    align-items: center;
    margin-top: 25%;
    font-weight: bold;
    
}
