<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Contato</title>
</head>
<body class="margem" background="img/fundo.jpg">
    <header>
        <span>
          [LOGO]
        </span>
        <span class="margemNav">
            <a href="index.html">Home</a> <span>|</span>
            <a href="experiencias.html">Experiências e Formações</a> <span>|</span>
            <a href="contato.html">Contato</a><span>|</span>
            <a href="projetos.html">Projetos</a>
        </span>
    </header>
    <div>
        <section>
            Contatos
        </section>
        <section>
            E-mails
        </section>
        <p>
            doxito007@gmail.com
        </p>
    </div>
</body>
</html>