<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Experiências</title>
</head>
<body class="margem" background="img/fundo.jpg">
    <header>
        <span>
          [LOGO]
        </span>
        <span class="margemNav">
            <a href="index.html">Home</a> <span>|</span>
            <a href="experiencias.html">Experiências e Formações</a> <span>|</span>
            <a href="contato.html">Contato</a><span>|</span>
            <a href="projetos.html">Projetos</a>
        </span>
    </header>
    <span>
        <h2>
            FORMAÇÕES
        </h2>
        <ul>
            <li>Formação 1</li>
            <li>Formação 2</li>
            <li>Formação 3</li>
        </ul>
        <dl>
            <dt><h3>Experiências FLL</h3></dt>
            <dd>
                Descrição da Experiência
            </dd>
            <dt><h3>Experiências Técnico</h3></dt>
            <dd>
                Descrição da Experiência
            </dd>
            <dt><h3>Experiências FATEC</h3></dt>
            <dd>
                Descrição da Experiência
            </dd>
            <dt><h3>Experiências de Trabalho</h3></dt>
            <dd>
                Descrição da Experiência
            </dd>
        </dl>
        
    </span>

</body>
</html>