<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Projetos</title>
</head>
<body background="img/fundo.jpg"  class="margem" >
    <header>
        <span>
          [LOGO]
        </span>
        <span class="margemNav">
            <a href="index.html">Home</a> <span>|</span>
            <a href="experiencias.html">Experiências e Formações</a> <span>|</span>
            <a href="contato.html">Contato</a><span>|</span>
            <a href="projetos.html">Projetos</a>
        </span>
    </header>
    <div>
        <section>Projetos da Fatec</section>
        <dl>
            <dt>Projeto 1</dt>
            <dd>Descrição do Projeto</dd>
            <dd>[GITHUB]</dd>
            <dt>Projeto 2</dt>
            <dd>Descrição do Projeto</dd>
            <dd>[GITHUB]</dd>
            <dt>Projeto 3</dt>
            <dd>Descrição do Projeto</dd>
            <dd>[GITHUB]</dd>
        </dl>
    </div>
</body>
</html>